.we{
    background-color: #e6e6e6; 
    width: 105%; 
    margin-top: 0;
}
.make{
    margin-left: -6%; 
    margin-right: 0px; 
    padding:0; 
    color:#212120; 
    margin-bottom: 20px; 
    font-family:'roboto';  
    font-size:xxx-large; 
    font-weight: bolder;
}
.Unstoppable{
    font-size: xxx-large; 
    font-weight: 900; 
    color: #596f8b;
    margin-bottom: -20px;
    font-family: computer;
}

.change{
    color: #212120; 
    margin: auto; 
    padding: 1%; 
    font-size: x-large;
}

.Follow {
    border: 2px solid #212120;
    color: #212020;
    font-size: 16px;
    cursor: pointer;
    border-width: 4px;
    margin-left: -5%; 
    margin-right: 10px; 
    padding: 10px;
    font-size:xx-large;
    font-family: roboto;
    font-weight: 900;
    color: #212020;
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: -2px;

  }:hover{
    color: #e6e6e6;
    background-color: #596f8b;
    border: 2px solid #596f8b;
  
  
}