/*Text*/

.Net{
    background-color: #e6e6e6; 
    margin-left: -5px; 
    width: 105%; 
    margin-top: 0; 
    margin-bottom: -20px;
}

.Netp{
    margin-left: -5%; 
    margin-bottom: 30px; 
    margin-top: 0px;
}

.Netp b{
    color: #212020; 
    font-family: roboto; 
    font-size: xxx-large; 
    font-weight: bold;
}

.Netp span{
    font-size: xx-large; 
    font-weight: bold; 
    font-family: computer;
    color: #8f0bbd;
}

/*Button*/
.Join a {
    border: 2px solid #212120;
    color: #212020;
    font-size: 16px;
    cursor: pointer;
    border-width: 4px;
    margin-left: -5%; 
    margin-right: 10px; 
    padding: 10px;
    font-size:xx-large;
    font-family: roboto;
    font-weight: 1000;
    color: #212020;
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: -2px;

  }.Join a:hover{
    color: #e6e6e6;
    background-color: #8f0bbd;
    border: 2px solid #8f0bbd;
  
  }